<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springboot.sample" level="TRACE" />

    <!-- 开发、测试环境 -->
    <springProfile name="dev,test">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.springboot.sample" level="INFO" />
    </springProfile>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 典型的日志pattern -->
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.my.project.core.dao" level="DEBUG"></logger>

    <root level="INFO">
        <!--<appender-ref ref="logstash" />-->
        <appender-ref ref="console" />
    </root>

</configuration>
